@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
$base-font-color: #7854ff;
$base-font-weight: 500;
$base-font-size: 16px;

$base-button-background: #7854FF;
$home-container-padding: 60px 150px;
$base-dark-font-color: #101d5b;
$base-light-font-color: #7e8299;
$base-blue-font-color: #35A5E4;

// * {
//   font-family: 'Roboto', sans-serif;
//   outline: none;
//   box-sizing: border-box;
// }
input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
// body {
//   margin: 0;
//   padding: 0;
// }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.font{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
}
.ant-dropdown-arrow{
  right: 9px !important;
}

.tooltip_overlay {
  .ant-tooltip-inner {
    color: $base-dark-font-color;
    font-size: 14px;
    font-weight: $base-font-weight;
    padding: 10px;
  }
}


.max_container {
  max-width: 1360px;
  margin: 0 auto;
}
